@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bree Serif", serif;
  /* background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%); */
  color: #fff;
  background-color: black;
}
.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 34px;
  color: #fff;
}
.app-heading {
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.app-heading > span {
  color: #11d811;
}
.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.coin-text {
  margin-bottom: 32px;
  text-align: center;
}
.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  border-bottom: 2px solid #11d811;
  background-color: rgb(37, 37, 37);
  outline: none;
  color: #e2e2e2;
}
.coin-input::placeholder {
  letter-spacing: 2px;
  color: #e2e2e2;
}

.index {
  width: 900px;
  /* padding: 0px 30px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid #d7d7d7;
}
.idx-start {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
.idx-end {
  display: flex;
  justify-content: space-between;
  width: 592px;
}
/* .idx-name {
  margin-right: 100px;
} */
/* .idx-price {
  margin-left: 60px;
} */
.idx-24 {
  margin-right: 57px;
}
.idx-mkt {
  margin-right: 50px;
}
